ion-content {
    color: white;
}

ion-row {
    flex-wrap: nowrap;
    overflow-x: scroll!important;
    overflow-y: hidden;
}

ion-card {
    color: black;
    background-color: white;
}

ion-label {
    text-align: center;
}