<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tu Biblioteca
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>
                Tu Biblioteca
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-tab-bar slot="top">
        <ion-tab-button tab="playlist-tab">
            <ion-label>
                <h2>
                    Playlists
                </h2>
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="artistas">
            <ion-label>
                <h2>
                    Artistas
                </h2>
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="descargas">
            <ion-label>
                <h2>
                    Descargas
                </h2>
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>