<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        {{saludo}}
                    </ion-col>
                    <ion-col class="settings">
                        <ion-icon name="notifications-outline" size="large"></ion-icon>
                        <ion-icon name="time-outline" size="large"></ion-icon>
                        <ion-icon name="settings-outline" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="descubrir">
        <ion-label>
            <h1>
                Descubrir
            </h1>
        </ion-label>
    </div>
    <div>
        <ion-label>
            <h1>
                Artistas
            </h1>
        </ion-label>
        <app-artistas-home></app-artistas-home>
    </div>
    <div>
        <ion-label>
            <h1>
                Recomendadas
            </h1>
        </ion-label>
        <app-canciones-home></app-canciones-home>
    </div>
</ion-content>