<ion-header>
    <ion-toolbar>
        <ion-title>subir-canciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Titulo: </ion-label>
            </ion-col>
            <ion-col>
                <ion-input placeholder="Título de la cancion" type=text [(ngModel)]='cancion.titulo'></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>URL de la portada: </ion-label>
            </ion-col>
            <ion-col>
                <ion-input placeholder="URL" type="text" [(ngModel)]='cancion.url_imagen'></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>Autor: </ion-label>
            </ion-col>
            <ion-col>
                <ion-input placeholder="Autor o Autores" [(ngModel)]="cancion.autor"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)='crearCancion(cancion)'>Crear Cancion</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>Subir Playlist</ion-row>
        <ion-row>
            <ion-col>
                <ion-label>
                    Playlist:
                </ion-label>
            </ion-col>
            <ion-col>
                <ion-input placeholder="Nombre de la playlist" [(ngModel)]="nombre_playlist"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>
                    Clave:
                </ion-label>
            </ion-col>
            <ion-col>
                <ion-input placeholder="Clave" [(ngModel)]="clave"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)='subirAPlaylist()'>Añadir a Playlist</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>